/* .content-container {
    background: #000;
  }
  
  .sidebar-nav ul .sidebar-item.selected>.sidebar-link, .sidebar-nav ul .sidebar-item.selected>.sidebar-link.active, .sidebar-nav ul .sidebar-item>.sidebar-link.active {
    background-color: unset !important;
    color: #fff;
  } */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500 !important;
}
h1, h2, h3, h4, h5, h6, p, a, label table, th, tr, td
{
    font-size: 16px !important;
    font-weight: 500 !important;
}

.sidebar-nav ul .sidebar-item>.sidebar-link.active {
    background: #000 !important;
}
.page-item {
    list-style: none;
    background: #eee;
    padding: 10px;
    color: #000;
}
.page-item .active {
    list-style: none;
    background: #7b2d8fe6;
    padding: 10px;
    color: #fff;
}
.modal-dialog{
    position: relative !important;
    top: 250px !important;
}
.form-control-lg {
    padding: .75rem 1rem;
    height: 60px !important;
    border-radius: 2rem !important;
    border: 2px solid #0000002b;
    padding-left: 50px;
}

textarea {
    border-radius: 2rem !important;
    border: 2px solid #0000002b !important;
    padding-left: 65px !important;
    font-size: 500 !important;
}
input[type="file"] {
    height: 60px !important;
    border-radius: 2rem !important;
    border: 2px solid #0000002b;
    padding-left: 65px;
    padding-top: 18px;
    font-size: 500;
}

.form-control:focus {
    border-color: #ffa500;
    box-shadow: -2px 8px 15px -8px #ffa500 !important;
}
.fa-input-icon {
    position: relative !important;
    top: -43px !important;
    left: 20px !important;
    font-size: 25px !important;
}

input[type="file"] .fa-input-icon {
    position: relative !important;
    top: -48px !important;
    left: 20px !important;
    font-size: 25px !important;
}

div:where(.swal2-container).swal2-center>.swal2-popup {
    width: 400px !important;
    height: 250px !important;
    background: #19623bf7 !important;
    color: #fff;
}

div:where(.swal2-icon).swal2-warning {
    height: 70px !important;
    width: 70px !important;
}

div:where(.swal2-icon) .swal2-icon-content {
    font-size: 6.75em !important;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    font-size: 1.5em !important;
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-cancel {
    font-size: 1.5em !important;
}
.fa-images {
    width: 25px;
    height: 25px;
}
