/* .nav-scrolled {
    --text: #333;
    --text-inverse: #f4f4f4;
    --background: #f4f4f4;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
} */
section {
    margin-top: 80px;
}
.scrolled {
    background: #000 !important;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 1000; /* Ensure the navigation appears above other content */
    top: 0;
    left: 0;
    right: 0;
}
.unscrolled {
    background: transparent !important;
    color: #000;
    position: fixed;
    width: 100%;
    z-index: 1000; /* Ensure the navigation appears above other content */
    top: 0;
    left: 0;
    right: 0;
}
.vh-100 {
    height: auto;
    background: #bb921712;
}
.form-control-lg {
    padding: .75rem 1rem;
    height: 60px !important;
    border-radius: 2rem !important;
    border: 2px solid #0000002b;
    padding-left: 50px;
}
textarea {
    border-radius: 2rem !important;
    border: 2px solid #0000002b;
    padding-left: 50px;
}

.form-control:focus, 
textarea:focus {
    border-color: #ffa500;
    box-shadow: -3px 5px 1px -2px #ffa500;
}

.form-check-input[type=checkbox] {
    border-radius: 2rem;
    height: 28px;
    width: 28px;
    border: 2px solid #0000002b;
}
.form-check-input:checked{
    border-color: #ffa500 !important;
    box-shadow: -3px 5px 1px -2px #ffa500;
}
.form-check-label {
    display: inline-block;
    padding-top: 5px;
}
.btn-button {
    background-color: #ffa500;
    box-shadow: -3px 5px 1px -2px #ffa500;
    border-radius: 2rem;
}
.btn-button:hover{
    background-color: #8fc1ec;
    box-shadow: 0 0 0 0.2rem #97bef9db;
}


